@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.icon-title {
    border-radius: 50%;
}
.nav {
    display: flex;
    justify-content:space-between;
    position: sticky;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
}
.name {
    margin-left: 100px;
    font-family: 'Bigshot One', cursive;
}
.name:hover {
    color: gold;
    text-shadow: 2px 2px 8px gold;
}
.nav-main {
    margin-top: 30px;
    margin-left: -30%;
}
.nav-link {
    padding: 30px;
    padding-right: 30px;
    text-decoration: none;
    margin-top: 10px;
    color: black;
    font-weight: bolder;
}
.nav-link:hover {
    color : gold;
    opacity: 0.8;
    text-shadow: 2px 2px 8px gold;
  }
.nav-link-2 {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 100px;
    background-color: gold;
    border-radius: 20%;
}
.nav-link-2 {
    box-shadow: 0 0 20px #ccc;
}
.profil-home {
    text-align: center;
    width: 100%;
    height: 100vh;
}
.profil-quote {
    font-family: 'Secular One', sans-serif;
    width: 40%;
    position: absolute;
    left: 30%;
    top: 18%;
}
.profil-quote{
    display: block; /*Makes each line of text inside of the span 100% width so it will fall on the next line.*/
    opacity: 0;
    animation: revealText 4s infinite; /*Adding the animation over .5 seconds. Forwards means the last state will be the styles applied at 100% (to).*/
}

/*From and to is just another way of saying start at 0 and end at 100%.*/
@keyframes revealText {
    from{
        transform: translateY(20px); /*Moves the element down by 20px.*/
    }
    to{
        opacity: 1; /*Turn the opacity back on so that we can see the element in it's final animation state.*/
        transform: none; /*Removes the 20px so that the text will be at the normal starting position at the end of the animation.*/
    }
}

.clr {
    color: gold;
}
.yahyol {
    width:100%;
    height: 100vh;
    object-fit: cover;
}
.about {
    margin-top: 50px;
    background-color: gold;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(254, 224, 50,1));
    padding : 30px;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
    margin: 0;
}
.about-title {
    text-align: center;
    display: block;
    margin: auto;
    padding: 60px 0 30px 0;
    font-weight: bold;
    color: white;
    font-size: 28px;
}
.about-desc {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 60px;
}
.typewrite {
    color: gold;
    font-weight: bold;
    font-size: 27px;
    margin: 0;
    text-decoration: none;
    background-color: white;
}
.name-2 {
    color: brown;
    font-family: 'Roboto', sans-serif;
}
h4 {
    color: brown;
    margin: 0;
    font-size: 20px;
}
.comp {
    color: blue;
}
.sci {
    color : red;
}
h5 {
    color: white;
    font-family: 'Roboto', sans-serif;
}
.about-quote {
    color: brown;
    font-style: italic;
}
.about-script {
    width: 40%;
    text-align: justify;
    margin-right: 100px;
    font-weight: bold;
}
.about-pic {
    width : 400px;
    height:400px;
    border-radius: 50%;
    display: block;
    margin: auto;
}
#list-portfolio {
    background-color: white;
    margin: 0;
    margin-top: 0;
    padding-bottom: 80px;
}

.list-portfolio-title {
    padding-top: 70px;
    font-size: 28px;
    font-weight: bold;
    color: rgb(77, 75, 75)
    margin: 0;
}
.portfolio-title {
    margin: 0;
    color: brown;
}
.portfolio {
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    padding: 20px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 40px;
    box-shadow: 0px 0px 20px #ccc;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(254, 224, 50,1));
    height: 50vh;
}
.project-img {
    width: 50%;
    display: block;
    margin: auto;
}
.portfolio-pic{
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
}
.portfolio-pic:hover {
    width: 80%;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
.portfolio-spec {
    width: 40%;
    display: block;
    margin: auto;
    text-align : justify;
}
p {
    font-weight: bolder;
}
.tech-stack {
    display: flex;
    justify-content: space-evenly
}
.portfolio:hover {
    box-shadow: 0px 0px 20px gold;
}
.tool {
    width: 40px;
    height: 40px;
}
.experience {
    text-align: center;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(254, 224, 50,1));
    margin: 0;
}
.exp-title {
    padding-top: 80px;
    padding-bottom: 30px;
    color: white;
    margin: 0;
}
.exp-container {
    display: grid;
    grid-template-columns: 30% 30%;
    gap: 30px;
    margin: auto;
    padding : 80px;
    padding-top : 0;
    justify-content: center;
}
.exp-item {
    align-items: center;
}
.exp-1 {
    grid-column: 1/1;
    grid-row: 1/1;
}
.exp-2 {
    grid-column: 2/2;
    grid-row: 1/1;
}
.exp-3 {
    grid-column: 1/1;
    grid-row: 2/2;
}
.exp-4 {
    grid-column: 2/2;
    grid-row: 2/2;
}

.exp-img {
    width : 100%;
    height : 30vh;
    border-radius: 30px;
}
.exp-img:hover {
    box-shadow: 0px 0px 20px white;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
.exp-name {
    font-weight: bold;
}
footer{
    background-color: black;
    height : 20%;
    padding-bottom: 30px;
    padding-top : 30px;
    text-align: center;
    align-items: center;
}
.social-media {
    display: block;
    margin: auto;
}
.fab {
    padding-left : 40px;
    padding-right: 40px;
}
.fa-envelope {
    color: white;
}
i:hover {
    transform: scale(1.2);
    transition: all 1 ease-in-out;
}
.tool:hover {
    transform: scale(1.2);
    transition: all 1 ease-in-out;
}
.email {
    color : white;
    font-size: 12px;
    margin-top: 30px;
}
.copyright {
    color: white;
    font-size: 10px;
    margin-bottom: 2px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .nav-main {
    opacity: 1;
  }
  input[type=checkbox]:checked + .nav-main {
    opacity: 1;
  }
  .menu__btn {
    position: fixed;
    top: 37px;
    right: 40px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    display: none;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    margin-right: 0;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  @media (max-width: 970px) {
    .menu__btn {
      display: flex;
    }
  
    .nav-main{
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: white;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
      }
      .nav-link {
        text-align: center;
        display: block;
        padding: 12px 24px;
        color: #333;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
      }
      .nav-link-2 {
        text-align: center;
        display: block;
        padding: 10px 10px;
        margin: auto;
        margin-top: 12px;
        color: #333;
        width: 70px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
      }
      #menu__toggle:checked ~ .nav-main {
        right: -1%;
      }
      .name {
        margin-left: 40px;
    }

     /* Mobile Display */

     .profil-quote {
        font-family: 'Secular One', sans-serif;
        width: 60%;
        position: absolute;
        top: 20%;
        left: 20%;
    }
    .yahyol {
        margin-top: 5%;
    }
    .about {
        margin-top: 50px;
        background-color: gold;
        padding : 20px;
        width: 100%;
        min-height: 100%;
        border-radius: 0;
        margin: 0;
    }
    .about-title {
        text-align: center;
        display: block;
        margin: auto;
        padding: 60px 0 30px 0;
        font-weight: bold;
        color: white;
        font-size: 28px;
    }
    .about-desc {
        display: block;
        height: 100%;
        margin: auto;
    }
    .typewrite {
        color: gold;
        font-weight: bold;
        font-size: 22px;
        margin: 0;
        text-decoration: none;
        background-color: white;
    }
    .name-2 {
        color: brown;
        font-family: 'Roboto', sans-serif;
    }
    h4 {
        color: brown;
        margin: 0;
    }
    .degree {
        color: white;
    }
    h5 {
        color: white;
        font-family: 'Roboto', sans-serif;
    }
    .about-quote {
        color: brown;
    }
    .about-script {
        width: 70%;
        text-align: justify;
        display: block;
        margin: auto;
        padding: 0;
    }
    .about-pic {
        width : 300px;
        height:300px;
        border-radius: 50%;
        display: block;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .list-portfolio {
        padding : 30px;
        width: 100%;
        min-height: 100%;
        margin-top: 50px;
    }
    .list-portfolio-title {
        padding-top: 50px;
        font-size: 28px;
        font-weight: bold;
        padding-bottom: 40px;
    }
    .portfolio-title {
        margin: 0;
        text-align : center;
    }
    .portfolio {
        display: block;
        border-radius: 40px;
        padding: 20px;
        margin : 0;
        width : 70%;
        display: block;
        margin: auto;
        margin-bottom : 40px;
        box-shadow: 0px 0px 20px #ccc;
        background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(254, 224, 50,1));
        height: auto;
    }
    .project-img {
        width: 80%;
        display: block;
        margin: auto;
    }
    .portfolio-pic{
        width: 100%;
        display: block;
        margin: auto;
        border-radius: 10px;
        padding-top: 30px;
    }
    .portfolio-spec {
        width: 80%;
        display: block;
        margin: auto;
        padding: 0;
        padding-top: 40px;
    }
    .tech-stack {
        display: flex;
        justify-content: space-evenly
    }
    .tool {
        width: 25px;
        height: 25px;
    }
    .experience {
        text-align: center;
        background-color: gold;
        margin-top: 80px;
        border-radius: 0;
        margin: 0;
    }
    .exp-title {
        padding-top: 80px;
        padding-bottom: 30px;
    }
    .exp-container {
        display: block;
        margin: auto;
        padding : 80px;
        padding-top : 0;
    }
    .exp-item {
        align-items: center;
    }
    
    .exp-img {
        width :40vw;
        height : 100%;
        border-radius: 30px;
    }
    .exp-name {
        font-weight: bold;
    }
    .fab {
        padding-left : 15px;
        padding-right: 15px;
    }
    
  }

@media (max-width:480px)  {
    /* smartphones, Android phones, landscape iPhone */ 
    .profil-quote {
        width: 80%;
        font-size: 14px;
    }
}
@media (max-width:600px)  { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .profil-quote {
        font-size: 14px;
    }
}
@media (max-width:700px)  { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .exp-img {
        width :50vw;
    }
    .profil-quote {
        font-size: 14px;
    }
    .tool {
        width: 25px;
        height: 25px;
    }
}
@media (max-width:851px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .profil-quote {
        font-size: 18px;
    }
    .tool {
        width: 30px;
        height: 30px;
    }

}
@media (max-width:1200px) { 
    /* big landscape tablets, laptops, and desktops */
    .yahyol {
        margin-top: 5%;
    }
    .profil-quote {
        width: 50%;
        left : 25%;
    }
 }